*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}


body {
  margin: 0;
 
  font-family: Helvetica, sans-serif;
 
  width: 100%;
}

a {
  color: #000;
}



.header {
  background-color:rgb(0, 0, 0);
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
  height: 100px;
  align-items: center;
  justify-content: center;
  
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color:#000 ;
}

.header li a {
  display: block;
 
  border-right:#130b38;
  text-decoration: none;
  color:#fff ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
 
}

.header li a:hover,
.header .menu-btn:hover {
  background-color:#130b38 ;
}

.header .logo {
 justify-items: center;
  display: block;
  float: left;
  font-size: 2em;
  padding-left: 20px;
  width: 50px;
  text-decoration: none;
  color:darkgray;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.logo img{
height: 40px;
  color: #fff;
 
 
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #fff;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #fff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 350px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    margin-top: 30px;
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
 

}

 /* ........................home ..........................*/



 *, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: roboto, sans-serif;
}

.home {
  height: 20vh;
  position: relative;
}
video {
  position: absolute;
  width: 100%;
  height: 10%;
  object-fit: cover;
}
.home-content {
  position: relative;
  padding-top: 180px;

  text-align: center;
  
}
.home-content h1 {
 
  font-family: Playfair Display, serif;
  font-size: 30px;
  line-height: 1.1;
  font-weight: 300;
  color: #130b38;
}

.home p { 
color: darkblue;
  font-size:30px;
  margin-top: 10px;
}

.home-content button {
  display: block;
  font-size: clamp(14px, 1.5vw, 18px);
  border: 1px solid #130b38 ;
  border-radius: 5px;
  background: transparent;
  color:  #130b38;

  margin: 50px auto 0;
  padding: 12px 20px;
  cursor: pointer;
}


*, ::before, ::after {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
font-family: roboto, sans-serif;
}

.home {
height: 100vh;
position: relative;
}
video {
position: absolute;
width: 100%;
height: 100%;
object-fit: cover;
}
.home-content {
 
position: relative;
padding-top: 150px;
color: #000;
text-align: center;
}
.home-content  h1 {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: clamp(25px, 4vw, 40px);
line-height: 1.1;
font-weight: 600;
color:#000;

}

.home p {
font-size: clamp(25px, 4vw, 40px);
margin-top: 10px;
color:  #000;
font-weight: 600;
z-index: -10;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home-content button {
display: block;
font-size: clamp(14px, 1.5vw, 18px);
border: 1px solid #130b38;
border-radius: 5px;
background: transparent;
color: #130b38;
margin: 50px auto 0;
padding: 12px 20px;
cursor: pointer;

}


.home-page{
background-color: #fff;
 min-height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: center;

  padding: 10px;
  min-height: 100vh;
}

.info{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
flex :row;
margin-left: 5vh;
}

.info h3{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 30px;

}

.info p{
  font-size: 20px;
  padding-bottom: 5px;
}

.meta-tags img{
  height: 10px;
}

.pic img{
  padding-left: 10px;
  height: 50vh;
  width: 100%;
 border-right: none;
}

.btnshop{
  background-color: white;
  color: #000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 40px;
  font-weight: 600;
  font-size: 15px;
  width: 100px;
  padding: 5px ;
  margin-right: 5px;
  margin-top: 5px;
}

.btninfo{
  background-color: #fff;
  color: #000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 40px;
  padding: 5px ;
  width: 100px;
  font-weight: 600;
  font-size: 15px;
  margin-top: 5px;
}

.btnshop:hover,
.btninfo:hover {
  background-color:#130b38 ;
  
}

.btnshop button a:hover,
.btninfo button a:hover {
color: #f1f1f1;
  
}








.home-info{

  padding-top: 10vh;
 background-color: #fff;
 padding-bottom: 5vh;
  
}

.home-info h3{
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 30px;
}

.home-info-content{
  margin-left: 5vh;
 padding: 10px;
  min-height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-around;

  flex-wrap: wrap-reverse;
 
  
  
}

.info-content{
  border: 2px solid;
border-color: #ddd;
  padding: 15px;
}


.info-content img{
height: 20vh;
width: 100%;
}

.info-content h4{
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 10px;
  font-size: 15px;
  padding-left: 0; 
}

.info-content p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 10px;
}

.intouch {
  
  min-height: 100%;

}


.intouch-content{
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  min-height: 100%;
  flex-wrap: wrap;
  
  
}
.intouch-content h3{
  color: white;
  padding: 12px;
}

.touch{
   margin: 5vh;
  border: 1.7px solid gray;
  border-radius: 5px;
}




/*........Questions .........*/

.faqs{
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

.faqs h5{
  text-align: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 30px;
}


.faqs-content{
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.qus-answer{
  border: 2px solid gray;
  padding: 10px;
  margin: 5vh;
  border-left: none;
  border-right: none;
}

.qus-answer h3{
  padding: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.qus-answer p{
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: medium;
}

.url-contact{
  display: flex;
  flex-direction: column;
align-items: center;
justify-content: center;
}

.url-contact h4{
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-size: 25px;
 padding: 10px;

}


.url-contact p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px;
 
 }

 .url-contact a{
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  background-color: #f1f1f1;
  border: 1px solid;
  height: 50px;
  width: 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px;
  text-decoration: none;
 
 }



/* ........................ABOUT Us ..........................*/
 



.About{
 min-height: 100%;
 padding-top: 20vh;
background-color: #fff;
  color:#f4f4f4;
 
  padding-bottom: 10vh;


}
.About h2{
  
  padding-left: 10vh;
  font-size: 30px;
  color: #000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
 
}

.About-content{
 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;
  

}

.About-content h3{
  padding-left: 10px;
  font-size: 30px;
 color: #000;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
padding-bottom: 10px;
}

.About-content p{
  padding-left: 10px;
  color: #000;
  font-size: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 10px;
}
.About-content img{
  height: 50vh;
  width: 100%;
}
.About button{
  background-color: #130b38;
  color: #f1f1f1;
  padding: 10px;
  margin-left: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  border-radius: 10px;
}

.About a{
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  text-decoration: none;
  font-weight: bold;
} 













/*...................... products............ */






  
  body {
    background-color: #fff;
   

  }
  
  /* Center website */
  .main {
   padding-top: 20vh;
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
  color: #000;
  }

.main p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color: #000;
}


  
  .row {
    margin: 8px -16px;
  }
  

  .row,
  .row > .column {
    padding: 8px;
  }
  
  .column {
    float: left;
    width: 25%;
  }
  
  /* Clear floats after rows */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: white;
    padding: 10px;
    height: 30vh;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
  }
  .content-inside img {
   
   padding: 10px;
   height: 15vh;
  }

  .content-inside h3 {
font-size: 15px;
padding-left: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    .column {
      width: 100%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }



  /*................ Services .................*/


  
/* ........................Services ..........................*/




.jumbo{
  padding-top: 20vh;
  background-color: #fff;
  min-height: 100%;
   width: 100%;
  color: #000;
 
  
 }
.jumbo p {
  padding-left: 10vh;
  color: #000;
  
}

.jumbo h2 {
  font-size: 30px;
padding-left: 10vh;
  color: #000;
  font-weight: bold;
}

.flexcol{
  padding-top: 10vh;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
flex-wrap: wrap;
justify-content: space-around;

}




.flexco{
  display: flex;
  flex-direction: column;
background-color: #fff;
height:50vh ;
width: 50vh;
padding: 10px;
margin: 10px;
border: 4px solid #f1f1f1;

align-items: center;
justify-content: center;
color: #fff;

}

.flexco img{
  padding-top: 5px;
  height: 30vh;
  width: 30vh;
  border-radius: 1px;
}

.flexco h3{
  color: #000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  padding: 5px;
}

.flexco p{
  color: #000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  text-align: center;
}













/**********************************/
/*********** Contact CSS ***********/
/**********************************/
.contact{
  padding-top: 15vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}


.contact h2{
  padding-left: 25vh;
}

.contact h3{
  padding-left: 25vh;
}

.contact-content{
  padding-top: 3vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 align-items: center;
 justify-content: center;
 justify-content: space-around;

 
}

.Dertext{
  display: flex;
  flex-direction: column;
  
}

.Dertext p{
  padding-top: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
 font-weight: bold;
 color: #130b38;
}




.Deform{
  
}

form input{
  height: 8vh;
  width: 50vh;
  border: 2px solid #130b38;
  padding: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form textarea{
  height: 20vh;
  width: 50vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form button{
  padding: 10px;
  background-color: #130b38;
  color: #fff;
}


/* ......................footer................ */


.footercontainter{
  height: 20vh;
  background-color: #fff;
 display: flex;
flex-direction:column ;

align-items: center;
justify-content: center;
}

.socialicons{
  display: flex;
  flex-direction: row;
 padding: 10px;

}

.socialicons a{
color: #130b38;
padding: 10px;
}


.footerNav{
  display: flex;
  flex-direction: row;
 padding: 10px;
color: #130b38;
}

.footerNav a{
  padding: 10px;
color: #130b38;
}

.footerbottom{
  background-color: #fff;
  padding: 10px;
  text-align: center;
}
